.item {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 30px;
    color: grey;
}

.item.active {
    color: rgb(237, 157, 157);
    border-bottom: 1px solid red;
}